
.testimonial-section {
  background-color: #f5f5f5;
  padding: 30px;
}


.testimonial {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}


.testimonial .text {
  font-size: 16px;
  color: #333;
}


.testimonial .author {
  text-align: right;
  font-style: italic;
  margin-top: 10px;
  color: #555;
}
